{% extends "base.html" %}
{% load static %}

{% block title %} Iniciar sesión {% endblock %}


{% block contenido %}

  <div id="login" class="d-flex justify-content-center">
    <form method="post" class="container" style="max-width: 365px; width: 100%;">
      {% csrf_token %}
      <div class="form form--signup">
        <div class="form--heading titulo">Bienvenido! Inicia sesión para ver tus tareas</div>
        <div class="form-group">
          <input type="text" name="{{ form.username.name }}" placeholder="Ingresa tu nombre de usuario"
            class="form-control">
        </div>
        <div class="form-group">
          <input type="password" name="{{ form.password.name }}" placeholder="Ingresa tu contraseña"
            class="form-control">
        </div>
        <div class="text-center">
        <button type="submit" class="btn ov-btn-grow-spin mt-3">Ingresar</button>
      </div>
    </div>
    </form>

    {% if form.errors %}
    <div class="alert alert-danger mt-3" role="alert">
      {{ form.errors }}
    </div>
    {% endif %}
  </div>

{% endblock %}