@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Public+Sans:wght@700&display=swap');

body {
    font-family: 'Arimo', sans-serif;
}

h1, h2, h3, h4, .titulo {
    font-family:'Public Sans', sans-serif;
    color:#8c52ff

}
.footerbase {
    background-color: #8c52ff;
}

#card-footer {
    background-color:  #8c52ff;
    color: white;
    border-color: #c1ff72;
    border-width: 2px;
    align-items: center;
    padding: 30px;
    text-align: justify;
}

.btn-personal {
    background-color: #c1ff72;
    color: #8c52ff;
    border-radius: 10%;
    margin:6px;;
    cursor: pointer;
}
.btn-personal:hover {
    background-color:#8c52ff;
    color: #c1ff72;
    transform: scale(1.1 , 1.1);
}

.ov-btn-grow-spin {
    background: #fff; /* color de fondo */
    color: #8c52ff; /* color de fuente */
    border: 2px solid #8c52ff; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-grow-spin:hover {
    color: #fff;/* color de fuente hover */
  }
  .ov-btn-grow-spin::after {
    content: "";
    background: #8c52ff; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0) rotate(-180deg);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-spin:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1) rotate(0deg);
  }

.navbar {
    background-color:#c1ff72;
}

nav img {
    border-radius: 30px;    
    margin: 5px;
    margin-right: 10px;
    background-color: transparent;
    transition: 0.3s
}

nav img:hover {
    margin: 5px;
    margin-right: 10px;
    transform: scale(1.2 , 1.2);
    box-shadow: 2px 3px 3px  #c1ff72;
}

.ul-footer, .li-footer {
    margin: 20px;
}

.futer {
    margin: 0px;
}

.redesimg {
    position: relative;
    border-radius: 50%; 
    transition: 0.3s;
    margin: 8px;
}

.redesimg:hover {
    margin: 5px;
    margin-right: 10px;
    transform: scale(1.1 , 1.1);
    box-shadow: 2px 3px 3px rgba(0,0,0,0.8);
}

.nosotros {
    padding: 30px;
}

.conocenos {
    padding: 30px;
    margin: 10px;
    border-color: #c1ff72;
    border-width: 2px;
    align-items: center;
    text-align: justify;
}

#conocenos {
    text-align: center;
    padding: 30px;
    color: #8c52ff;
}

::placeholder {
    color: gray;
    font-size: 0.8em;
    font-style: italic;
}

.bienvenido{
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    padding: 10px;
    margin: 10px;
    border-color: #c1ff72;
}

.logoprincipal{
    width: 13rem;
    height: auto;
}

.modal{
    display: none;
}

.prioridad-baja {
    color: green;
  }
  
  .prioridad-media {
    color: blue;
  }
  
  .prioridad-alta {
    color: orange;
  }
  
  .prioridad-urgente {
    color: red;
    font-weight: bold;
  }

  .logincontainer {
    width: 600px;
  }

.form-container {
        max-width: 500px; 
        width: 100%;
        
}
#login {
    padding: 60px;
}

.form-group {
    margin-top: 1em!important;
    margin-bottom: 1em!important;
}

.form-control {
    border-color:#c1ff72;
}