@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Public+Sans:wght@700&display=swap');

body {
    font-family: 'Arimo', sans-serif;
}

h1, h2, h3, h4, h5, .titulo {
    font-family:'Public Sans', sans-serif;
    color: black;
    text-align: center;

}
.footerbase {
    background-color: #8c52ff;
}

#card-footer {
    background-color:  #8c52ff;
    color: white;
    border-color: #c1ff72;
    border-width: 2px;
    align-items: center;
    padding: 30px;
    text-align: justify;
}

.btn-personal {
    background-color: #c1ff72;
    color: #8c52ff;
    border-radius: 10%;
    margin:6px;;
    cursor: pointer;
}
.btn-personal:hover {
    background-color:#8c52ff;
    color: #c1ff72;
    transform: scale(1.1 , 1.1);
}

.ov-btn-grow-spin {
    background: #fff; /* color de fondo */
    color: #8c52ff; /* color de fuente */
    border: 2px solid #8c52ff; /* tamaño y color de borde */
    padding: 8px   10px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-grow-spin:hover {
    color: #fff;/* color de fuente hover */
  }
  .ov-btn-grow-spin::after {
    content: "";
    background: #8c52ff; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 8px 10px;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0) rotate(-180deg);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-spin:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1) rotate(0deg);
  }

.navbar {
    background-color:#c1ff72;
}

nav img {
    border-radius: 30px;    
    margin: 5px;
    margin-right: 10px;
    background-color: transparent;
    transition: 0.3s
}

nav img:hover {
    margin: 5px;
    margin-right: 10px;
    transform: scale(1.2 , 1.2);
    box-shadow: 2px 3px 3px  #c1ff72;
}

.ul-footer, .li-footer {
    margin: 20px;
}

.futer {
    margin: 0px;
}

.redesimg {
    position: relative;
    border-radius: 50%; 
    transition: 0.3s;
    margin: 8px;
}

.redesimg:hover {
    margin: 5px;
    margin-right: 10px;
    transform: scale(1.1 , 1.1);
    box-shadow: 2px 3px 3px rgba(0,0,0,0.8);
}

.nosotros {
    padding: 30px;
}

.conocenos {
    padding: 30px;
    margin: 10px;
    border-color: #c1ff72;
    border-width: 2px;
    align-items: center;
    text-align: justify;
}

#conocenos {
    text-align: center;
    padding: 30px;
    color: #8c52ff;
}

::placeholder {
    color: gray;
    font-size: 0.8em;
    font-style: italic;
}

.logoprincipal{
    width: 13rem;
    height: auto;
}

.prioridad-baja {
    color: green;
  }
  
  .prioridad-media {
    color: blue;
  }
  
  .prioridad-alta {
    color: orange;
  }
  
  .prioridad-urgente {
    color: red;
    font-weight: bold;
  }

  .logincontainer {
    width: 600px;
  }

.form-container {
        max-width: 500px; 
        width: 100%;
        
}
#login {
    padding: 60px;
}

.form-group {
    margin-top: 1em!important;
    margin-bottom: 1em!important;
}

.form-control {
    border-color:#c1ff72;

}

.welcome-message {
    padding: 20px;
}

.welcome-message span {
    color:#c1ff72;
  }

.plustarea {
    text-align: right;
}

.btn-atras {
    text-align:left;
}

#add-link {
    text-decoration: none;
    color: black !important;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color:#8c52ff;
    transition: all 0.8s ease;
    position: relative;
    margin-right: 80px;
    }

  #add-link:hover {
    background:#8c52ff;
  color: #fff !important;
}

#filtro-btn {
    text-align: start;
    display: flex;
    margin-left: 80px;
}

.table {
    margin: 0 auto;
    width: 90%;
    border-color: #8c52ff;
  }
  
.table th {
    background-color:#8c52ff;
    color: #fff;
  }
  
  .table td,
  .table th {
    padding: 14px;
  }
  
  .filtro {
    margin-bottom: 20px;
    margin-left: 80px;
    color: gray;
  }

  .filter-container {
    max-width: fit-content!important;
    position: relative;
    z-index: 3

  }
  
  .filtro label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .filtro option {
    display: block;
    color: gray;
    font-style: italic;

  }
  
  

  .filtro select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .filtro button {
    text-decoration: none;
    color: black !important;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color:#8c52ff;
    transition: all 0.8s ease;
    position: relative;
    margin-right: 80px;
  }
  
  .empty {
    text-align: center;
    font-size: large;
    color: black;
    font-style: italic;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px; 
    margin-bottom: 50px;
    border-color: #c1ff72;
    background-color: #f7fad9;
 }


 .button-container {
    display: inline-block;
    margin-right: 10px;
  }
  
  .button-container > * {
    margin-right: 10px;
  }
  
  .titulo-tarea {
    background-color: #adbb10;
  }

  .form-container {
    background-color:#eee7fd;
    padding: 20px;
    text-align: start;
    margin: 0 auto;
    max-width: 900px;
  }