@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Public+Sans:wght@700&display=swap');

body {
    font-family: 'Arimo', sans-serif;
}

h1, h2, h3, h4 {
    font-family:'Public Sans', sans-serif;


}
.footerbase {
    background-color: #8c52ff;
}

#card-footer {
    background-color:  #8c52ff;
    color: white;
    border-color: #c1ff72;
    border-width: 2px;
    align-items: center;
    padding: 30px;
    text-align: justify;
}

.btn-personal {
    background-color: #c1ff72;
    color: #8c52ff;
    border-radius: 10%;
    margin:6px;;
}
.btn-personal:hover {
    background-color: #8c52ff;
    color: #c1ff72;
    transform: scale(1.2 , 1.2);
}

.navbar {
    background-color:#c1ff72;
}

nav img {
    border-radius: 30px;    
    margin: 5px;
    margin-right: 10px;
    background-color: transparent;
    transition: 0.3s
}

nav img:hover {
    margin: 5px;
    margin-right: 10px;
    transform: scale(1.2 , 1.2);
    box-shadow: 2px 3px 3px  #c1ff72;
}

.ul-footer, .li-footer {
    margin: 20px;
}

.futer {
    margin: 0px;
}

.redesimg {
    position: relative;
    border-radius: 50%; 
    transition: 0.3s;
    margin: 8px;
}

.redesimg:hover {
    margin: 5px;
    margin-right: 10px;
    transform: scale(1.1 , 1.1);
    box-shadow: 2px 3px 3px rgba(0,0,0,0.8);
}

.nosotros {
    padding: 30px;
}

.conocenos {
    padding: 30px;
    margin: 10px;
    border-color: #c1ff72;
    border-width: 2px;
    align-items: center;
    text-align: justify;
}

#conocenos {
    text-align: center;
    padding: 30px;
    color: #8c52ff;
}

.titulo {
    padding: 50px;
    margin: 50px;
}