{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block contenido %}

<div class="card-group nosotros">
    <div class="card conocenos">
        <div class="card-body">
            <h3 id="conocenos">Conoce TaskMinder y optimiza tu productividad</h3>
            <p class="card-text">TaskMinder es una plataforma de gestión de tareas diseñada para ayudarte a organizar y
                optimizar tu productividad. Con TaskMinder, puedes decir adiós a la confusión y el estrés de un flujo
                interminable de tareas pendientes. Nuestra aplicación te permite crear, rastrear y administrar tus
                tareas de manera eficiente, para que puedas concentrarte en lo que realmente importa.
                <br>
                <br>
                Con una interfaz intuitiva y fácil de usar, TaskMinder te permite agregar tareas con detalles completos,
                como títulos, descripciones, fechas de vencimiento y etiquetas de categoría. Puedes ver todas tus tareas
                pendientes en una lista ordenada por fecha de vencimiento, lo que te proporciona una visión clara de tus
                responsabilidades y prioridades.
                <br>
                <br>
                Además, TaskMinder te brinda opciones flexibles para filtrar tus tareas por etiqueta y estado, lo que te
                permite enfocarte en las áreas que requieren tu atención inmediata. Puedes marcar las tareas como
                pendientes, en progreso o completadas, y tener una lista separada de tareas completadas para un
                seguimiento y logro efectivos.
                <br>
                <br>
                Nuestra herramienta también te brinda una página de detalles de tareas, donde puedes acceder a toda la
                información relevante y realizar actualizaciones en tiempo real. Desde cambiar el estado de una tarea
                hasta editar su título, descripción o fecha de vencimiento, TaskMinder te ofrece el control total sobre
                tus tareas.
                <br>
                <br>
                TaskMinder es tu compañero de confianza para la gestión de tareas. Organiza, prioriza y realiza un
                seguimiento de tus tareas de manera eficiente, permitiéndote mantener el enfoque en tus objetivos y
                lograr resultados extraordinarios en todas las áreas de tu vida
            </p>
        </div>
    </div>

</div>

{% endblock %}