{% extends "base.html" %}
{% load static %}

{% block title %} Lista de Tareas {% endblock %}


{% block contenido %}
<div class="welcome-message d-flex justify-content-center">
  <h4>¡Bienvenido a TaskMinder <span>{{ user }}</span>!</h4>
</div>

    <h4 class="titulo">Lista de tareas</h4>
    <div class="plustarea">
    <a id="add-link"href="{% url 'crear-tarea'  %}">Añadir tarea</a>
    <button id="filtro-btn" class="ov-btn-grow-spin">Filtro</button>
  </div>
    <div class="col 2">

      <div id="filtro-container" style="display: none;">
        <form method="GET" class="filtro">
          <div class="filter-container">
          <label for="estado_tarea">Estado:</label>
          <select name="estado_tarea" id="estado_tarea">
            <option value="">Todos</option>
            {% for estado in estados_tarea %}
            <option value="{{ estado }}">{{ estado }}</option>
            {% endfor %}
          </select>

          <label for="titulo">Título:</label>
          <select name="titulo" id="titulo">
            <option value="">Todos</option>
            {% for titulo in titulos %}
            <option value="{{ titulo }}">{{ titulo }}</option>
            {% endfor %}
          </select>

          <label for="etiqueta_tarea">Etiqueta:</label>
          <select name="etiqueta_tarea" id="etiqueta_tarea">
            <option value="">Todos</option>
            {% for etiqueta in etiquetas_tarea %}
            <option value="{{ etiqueta.id }}">{{ etiqueta.nombre }}</option>
            {% endfor %}
          </select>

          <label for="prioridad">Prioridad:</label>
          <select name="prioridad" id="prioridad">
            <option value="">Todas</option>
            {% for p in prioridad %}
            <option value="{{ p.pk }}">{{ p.nombre }}</option>
            {% endfor %}
          </select>

          <button type="submit" class="btn">Filtrar</button>
          </div>
        </form>
      </div>

      <script>
        const filtroBtn = document.getElementById('filtro-btn');
        const filtroContainer = document.getElementById('filtro-container');

        filtroBtn.addEventListener('click', () => {
          if (filtroContainer.style.display === 'none') {
            filtroContainer.style.display = 'block';
          } else {
            filtroContainer.style.display = 'none';
          }
        });

      </script>

      <div class="table-responsive mt-3">
        <table class="table">
          <thead>
            <tr>
              <th>Lista de tareas</th>
              <th>Fecha de vencimiento</th>
              <th>Prioridad</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for tarea in tareas %}
            <tr>
              <td>{{ tarea.titulo }}</td>
              <td>{{ tarea.fecha_vencimiento }}</td>
              <td class="{% if tarea.prioridad.nombre == 'Baja' %}prioridad-baja
           {% elif tarea.prioridad.nombre == 'Media' %}prioridad-media
           {% elif tarea.prioridad.nombre == 'Alta' %}prioridad-alta
           {% elif tarea.prioridad.nombre == 'Urgente' %}prioridad-urgente
           {% endif %}">
  {{ tarea.prioridad.nombre }}
</td>

              <td><a id="add-link" href="{% url 'tarea' pk=tarea.pk %}">Ver detalles</a></td>
            </tr>
            {% empty %}
            <div class="empty card">
              <div class="card-body">
              No existen tareas que mostrar
            </div>
            </div>
            
           
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}