{% extends "base.html" %}
{% load static %}

{% block title %} Tareas {% endblock %}


{% block contenido %}
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary btn-personal" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Bienvenido
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="title mensaje_bienvenida"> ¡Bienvenido a TaskMinder {{ user }} ! </h4>
            </div>
        </div>
    </div>
</div>

<script>
    // Obtén el modal
    var modal = document.getElementById("myModal");
  
    // Muestra el modal al cargar la página
    function mostrarModal() {
      modal.style.display = "block";
    }
  
    // Cierra el modal al hacer clic en la "x"
    var closeButton = document.getElementsByClassName("close")[0];
    closeButton.onclick = function() {
      modal.style.display = "none";
    };
  
    // Obtén el mensaje de bienvenida de la URL y muéstralo en el modal
    function obtenerMensajeBienvenida() {
      var urlParams = new URLSearchParams(window.location.search);
      var mensaje = urlParams.get('mensaje');
      
      var mensajeBienvenida = document.getElementById("mensaje_bienvenida");
      mensajeBienvenida.innerHTML = mensaje;
    }
  
    // Llama a las funciones necesarias al cargar la página
    window.onload = function() {
  mostrarModal();
  obtenerMensajeBienvenida();
};
  </script>

{% endblock %}